#welcome-image {
  width: 100%;
  max-height: 65vh;
  margin: 10% auto;
}

#photographer-photo {
  width: 15rem;
  margin: 3% 0 ;
}

.about-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

